[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ffmpeg = "*"
llama-cpp-python = "*"
llama-index = "*"
moviepy = "*"
openai-whisper = "*"
torch = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.11"
